{% extends 'layout.html' %}
{% block title %}
    Add Category - Groceri
{% endblock %}
{% block content %}
    <h1>Add Category</h1>
    <form method="post" class="form">
        <label for="name" class="form-label">Name:
            <input type="text" name="name" id="name" class="form-control" required />
        </label>
        <input type="submit" value="Save" class="btn btn-success">
    </form>
{% endblock %}
{% block style %}
<style>
    h1 {
        text-align: center;
    }
    .form {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}